.body {
  background-color: #161616;
  color: white;
  font-size: 1.5em;
}

.container{
    padding: 4em;
}

.card{
    background-color: rgb(27, 27, 27);
    border: none;
    color: white;
    border-radius: .5em;
    padding: 2em;
}

.center{
    justify-content: center;
    text-align: center;
}

.logo{
    padding: 2em;
}

.backgrounddiv{
    background-image: url("./img/wp.jpg");
    background-position: center;
    background-size: cover;
}

.button{
    background-color: rgb(14, 14, 14);
    border: none;
    color: white;
    border-radius: .5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top:  .5em;
    padding-bottom: .5em;
}

.buttonwhite{
    background-color: white;
    border: none;
    color: rgb(14, 14, 14);
    border-radius: .5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top:  .5em;
    padding-bottom: .5em;
}

.input{
    background-color: rgb(14, 14, 14);
    color:white;
    border: none;
    border-radius: .5em;
    padding-top:  .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
}
